.vs
EsbImuReceiverToLAN/obj
EsbImuReceiverToLAN/bin
EspImuReceiverToLAN/obj
EspImuReceiverToLAN/bin
EsbImuReceiverToLanAndroid/bin/Debug
EsbImuReceiverToLanAndroid/obj
EsbImuReceiverToLanAndroid/bin/Release
*.keystore
keytool
Directory.Build.props
